* { box-sizing: border-box;-moz-box-sizing: border-box;}
body {
	background-color: #201f23;
	min-height: 100vh;
	color: #fff;
	margin: 0;
}
h1, h2, h3, h4 {
	font-family: Montserrat;
}
h2 {
	font-size: 2.5vw;
	line-height: 2.5vw;
	margin: 0 0 30px;
}
h2 span {
	color: #de5454;
}
h3 {
	font-size: 1.95vw;
	line-height: 1.95vw;
}
h4 {
	font-size: .8vw;
	line-height: .8vw;
	font-weight: 400;
	text-transform: uppercase;
}
p, a {
	font-family: "Poppins", sans-serif;
}
p.title {
	font-style: italic;
}
a {
	text-decoration: none;
	color: unset;
}
li {
	list-style: none;
}
img {
	width: 100%;
	object-fit: contain;
}
.wrapper {
	margin: 0 auto;
	max-width: 1140px;
}
.grid-2, .grid-3 {
	display: grid;
	grid-gap: 30px;
}
.grid-2 {
	grid-template-columns: repeat(2,1fr);
}
.grid-3 {
	grid-template-columns: repeat(3,1fr);
}


/*header*/
header {
	position: relative;
	overflow: hidden;
	padding: 0 2.5vw;
}
header nav {
	position: fixed;
	z-index: 5;
}
header nav.top {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 2.5vw 0;
}
header nav .leftBox {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 30%;
}
header nav .leftBox .logo {
	font-size: 27px;
	padding: 5px 5px 5px 0;
}
header nav .leftBox .logo span {
	color: #de5454;
}
header nav .leftBox .logo:hover {
	color: #de5454;
	text-transform: lowercase;
}
header nav .rightBox {
	display: flex;
	justify-content: flex-end;
	margin-right: 2.5vw;
	padding-right: 2.5vw;
}
header nav .rightBox svg {
	cursor: pointer;
}
header nav.sideMenu {
	top: 0;
	right: -1000px;
	background-color: #414141;
	padding: 2.5vw;
	z-index: 10;
	transition: all .5s;
}
header nav.sideMenu.active {
	right: 0;
}
header .sideMenu .closeBox {
	position: relative;
}
header .closeBox svg {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
header .sideMenu ul {
	padding: 7em 5em;
}
header .sideMenu li {
	list-style: none;
}
header .sideMenu li a {
	display: block;
	padding: 15px 0;
}
header #menu {
	position: fixed;
	right: 2.5vw;
	top: 50%;
	transform: translateY(-50%);
	z-index: 5;
	display: flex;
	flex-direction: column;
	align-items: center;
}
header #menu a {
	cursor: pointer;
	width: 10px;
	height: 10px;
	position: relative;
	margin: 15px 0;
	background: #fff;
	border-radius: 50%;
	transition: all .3s;
}
header #menu a.active {
	background: #de5454;
	width: 14px;
	height: 14px;
}
/*end of header*/



section {
	min-height: 100vh;
	overflow: hidden;
	width: 100%;
	position: relative;
	padding: 12vw 2.5vw 2vw;
}

#section1 {
	display: flex;
}
#section1 .introText {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	margin: auto;
}

.resumeBox {
	padding: 50px 60px;
	background-color: #5f5e60;
	position: relative;
}
.resumeBox:first-child {
	margin-bottom: 75px;
}
.resumeBox:last-child {
	margin-top: 75px;
}
.resumeBox h3 {
	position: absolute;
	top: -8.5%;
}


form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2.5rem;
}
form input, form textarea {
	background-color: #2f2f2f;
	border: none;
	padding: 0.75rem 1rem;
	font-size: 1rem;
}
form textarea {
	grid-column-start: 1;
	grid-column-end: 3;
	min-height: 175px;
}
form button[type="submit"] {
	padding: 0.75rem 1rem;
	grid-row-start: 3;
	color: #fff;
	background-color: #de5454;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	font-family: "Poppins", sans-serif;
	width: 50%;
}