* { box-sizing: border-box;-moz-box-sizing: border-box;}
body {
	background-color: #201f23;
	min-height: 100vh;
	color: #fff;
	margin: 0;
}
h1, h2, h3, h4, h5 {
	font-family: Montserrat;
}
h1 {
	font-size: 2vw;
	line-height: 2.5vw;
}@media screen and (max-width: 1440px) {
	h1 {
		font-size: 3vw;
		line-height: 3.5vw;
	}
}@media screen and (max-width: 1024px) {
	h1 {
		font-size: 4vw;
		line-height: 4.5vw;
	}
}@media screen and (max-width: 768px) {
	h1 {
		font-size: 5vw;
		line-height: 5.5vw;
	}
}@media screen and (max-width: 600px) {
	h1 {
		font-size: 6vw;
		line-height: 6.5vw;
	}
}@media screen and (max-width: 500px) {
	h1 {
		font-size: 7vw;
		line-height: 7.5vw;
	}
}
h2 {
	font-size: 2.5vw;
	line-height: 2.5vw;
	margin: 0 0 35px;
}@media screen and (max-width: 1440px) {
	h2 {
		font-size: 2.75vw;
		line-height: 2.75vw;
	}
}@media screen and (max-width: 768px) {
	h2 {
		font-size: 4.75vw;
		line-height: 3.75vw;
	}
}
h2 span {
	color: #de5454;
}
h3 {
	font-size: 1.95vw;
	line-height: 1.95vw;
}@media screen and (max-width: 1440px) {
	h3 {
		font-size: 2.5vw;
		line-height: 2.5vw;
	}
}@media screen and (max-width: 768px) {
	h3 {
		font-size: 4.5vw;
		line-height: 4.5vw;
	}
}@media screen and (max-width: 650px) {
	h3 {
		font-size: 5.5vw;
		line-height: 5.5vw;
	}
}@media screen and (max-width: 500px) {
	h3 {
		font-size: 7.5vw;
		line-height: 7.5vw;
	}
}
h4, h5 {
	font-size: .8vw;
	line-height: .8vw;
	text-transform: uppercase;
}@media screen and (max-width: 1440px) {
	h4, h5 {
		font-size: 1.2vw;
		line-height: 1.2vw;
	}
}@media screen and (max-width: 1024px) {
	h4, h5 {
		font-size: 1.8vw;
		line-height: 1.8vw;
	}
}@media screen and (max-width: 768px) {
	h4, h5 {
		font-size: 2.5vw;
		line-height: 2.5vw;
	}
}
h4 {
	margin: 35px 0;
}@media screen and (max-width: 768px) {
	h4 {
		margin: 20px 0;
	}
}
h5 {
	font-weight: 400;
	margin: 15px 0 5px;
	line-height: 20px;
}
p, a, form input, form textarea, form button {
	font-family: "Poppins", sans-serif;
}
p.title {
	font-style: italic;
}
a {
	text-decoration: none;
	color: unset;
}
a[href="mailto:desmond.yan.lai@gmail.com"] {
	transition: all .3s;
}
a[href="mailto:desmond.yan.lai@gmail.com"]:hover {
	/*color: #de5454;*/
	border-bottom: 1px solid #de5454;
}
li {
	list-style: none;
}
img {
	width: 100%;
	object-fit: contain;
}
.wrapper {
	margin: 0 auto;
	max-width: 1140px;
}
.grid-2, .grid-3 {
	display: grid;
	grid-gap: 3vw;
}
.grid-2 {
	grid-template-columns: repeat(2,1fr);
}@media screen and (max-width: 768px) {
	.grid-2 {
		grid-template-columns: 1fr;
	}
}
.grid-3 {
	grid-template-columns: repeat(3,1fr);
}@media screen and (max-width: 768px) {
	.grid-3 {
		grid-template-columns: 1fr;
	}
}


/*header*/
header {
	position: relative;
	overflow: hidden;
	padding: 0 2.5vw;
}
header nav {
	position: fixed;
	z-index: 5;
}
header nav.top {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 2.5vw 0;
}
header nav .leftBox {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 30%;
}@media screen and (max-width: 1440px) {
	header nav .leftBox {
		width: 40%;
	}
}@media screen and (max-width: 1024px) {
	header nav .leftBox {
		width: 45%;
	}
}@media screen and (max-width: 768px) {
	header nav .leftBox .emailLink {
		position: fixed;
		left: 50%;
		transform: translateX(-50%);
	}
}@media screen and (max-width: 600px) {
	header nav .leftBox .emailLink {
		display: none;
	}
}
header nav .leftBox .logo {
	font-size: 27px;
	padding: 5px 5px 5px 0;
}
header nav .leftBox .logo span {
	color: #de5454;
}
header nav .leftBox .logo:hover {
	color: #de5454;
	text-transform: lowercase;
}
header nav .rightBox {
	display: flex;
	justify-content: flex-end;
	margin-right: 2.5vw;
	padding-right: 2.5vw;
}
header nav .rightBox svg {
	cursor: pointer;
}
.hamburger:hover, .closeBox svg:hover {
	color: #de5454;
}
header nav.sideMenu {
	top: 0;
	right: -1000px;
	background-color: #414141;
	padding: 2.5vw;
	z-index: 10;
	transition: all .5s;
	height: 100%;
}
header nav.sideMenu.active {
	right: 0;
}
header .sideMenu ul a {
	font-size: 1.2vw;
	font-weight: 700;
}@media screen and (max-width: 1024px) {
	header .sideMenu ul a {
		font-size: 2.2vw;
	}
}@media screen and (max-width: 768px) {
	header .sideMenu ul a {
		font-size: 2.8vw;
	}
}@media screen and (max-width: 500px) {
	header .sideMenu ul a {
		font-size: 3.5vw;
	}
}
header .sideMenu a {
	color: #9b9b9b;
}
header .sideMenu a:hover {
	color: #fff;
}
header .sideMenu .closeBox {
	position: relative;
}
header .closeBox svg {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
header .sideMenu ul {
	padding: 7em 5em;
}
header .sideMenu li {
	list-style: none;
}
header .sideMenu li a {
	display: block;
	padding: 15px 0;
}
header .sideMenu .bottomLinks {
	display: flex;
	padding: 0 5em;
}
.bottomLinks a {
	width: 100%;
	margin-right: 20px;
	max-width: 32px;
}
header #menu {
	position: fixed;
	right: 2.5vw;
	top: 50%;
	transform: translateY(-50%);
	z-index: 5;
	display: flex;
	flex-direction: column;
	align-items: center;
}
header #menu a {
	cursor: pointer;
	width: 10px;
	height: 10px;
	position: relative;
	margin: 15px 0;
	background: #fff;
	border-radius: 50%;
	transition: all .3s;
	padding: 5px;
}
header #menu a.active {
	background: #de5454;
	padding: 3px;
/*	width: 14px;

	height: 14px;*/
}
/*end of header*/



section {
	min-height: 100vh;
	overflow: hidden;
	width: 100%;
	position: relative;
	padding: 12vw 2.5vw 2vw;
}@media screen and (max-width: 1024px) {
	section {
		padding: 14vw 2.5vw 2vw;
	}
}@media screen and (max-width: 600px) {
	section {
		padding: 18vw 2.5vw 2vw;
	}
}

#section1 {
	display: flex;
	padding: 0;
}
#section1 .introText {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	margin: auto;
}
#section1 h1 span {
	color: #de5454;
}
#section1 .waving {
	display: inline-block;
	animation: waving .5s infinite alternate;
}
@keyframes waving {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(25deg);}
}


#section2 p {
	color: #9e9e9e;
}
#section2 .textBox {
	max-width: 300px;
}@media screen and (max-width: 768px) {
	#section2 .textBox {
		max-width: 70%;
	}
	#section2 .innerBox {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
}

.iconBox {
	margin-top: 5vw;
}
.iconBox svg {
	width: 100%;
	height: 100%;
	max-width: 70px;
	max-height: 56px;
	object-fit: contain;
	color: #de5454;
}


#section3 {
	background-image: url(assets/desktop-background.jpg);
	background-size: cover;
	background-position: center;
	background-color: #00000094;
	background-blend-mode: darken;
}
.resumeBox {
	padding: 50px 60px;
	background-color: #5f5e6073;
	position: relative;
	transition: all .3s;
}
.resumeBox:hover {
	background-color: #5f5e60;
}
.resumeBox .innerBox {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.resumeBox:first-child {
	margin-bottom: 75px;
}@media screen and (max-width: 768px) {
	.resumeBox:first-child {
		margin-bottom: 0;
	}
}
.resumeBox:last-child {
	margin-top: 75px;
}
.resumeBox h3 {
	position: absolute;
	top: -3.5%;
	margin: 0;
}
.resumeBox p {
	font-size: 14px;
	line-height: 22px;
	padding-left: 10px;
}
.resumeBox p.title, .resumeBox p.date {
	margin: 0;
}
.resumeBox a {
	text-transform: lowercase;
	text-decoration: underline;
	font-size: 14px;
	color: #ccc;
}
.resumeBox a:hover {
	color: #de5454;
}
.resumeBox hr {
	width: 100%;
	height: 1px;
	border: none;
	background: #ffffff52;
}

#section4 {
	background-image: url(assets/wave-geometric-background.jpg);
	background-size: cover;
	background-position: center;
	background-color: #00000094;
	background-blend-mode: darken;
}
#section4 .wrapper {
	margin: 0;
	margin-left: auto;
	max-width: 950px;
}@media screen and (max-width: 1024px) {
	#section4 .wrapper {
		margin: 0;
	}
}
#section4 .grid-3 {
	margin-top: 150px;
}@media screen and (max-width: 768px) {
	#section4 .grid-3 {
		grid-template-columns: 1fr 1fr;
	}
}
#section4 .outerBox {
	max-width: 100px;
	width: 100%;
	position: relative;
}@media screen and (max-width: 768px) {
	#section4 .outerBox {
		margin: auto;
	}
}
.html5-icon {
	color: #e34f26;
}
.css3-icon {
	color: #2965f1;
}
.js-icon {
	color: #f7df1e;
}
.shopify-icon {
	color: #96bf48;
}
.jquery-icon {
	color: #0769ad;
}


#section5 h3 {
	margin: 0;
}
#section5 .innerBox div {
	margin-bottom: 50px;
	color: #ababab;
	transition: all .3s;
}
#section5 .innerBox div.active {
	color: #fff;
	padding-left: 5px;
}@media screen and (max-width: 768px) {
	#section5 .innerBox {
		margin-top: 7vw;
	}
}


form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2.5rem;
}@media screen and (max-width: 768px) {
	form {
		padding-right: 25px;
	}
}@media screen and (max-width: 600px) {
	form {
		grid-template-columns: 1fr;
		grid-gap: 0;
	}
	form input, form textarea {
		grid-column-start: 1;
		margin-bottom: 2.5rem;
	}
}
form input, form textarea {
	background-color: #2f2f2f;
	border: none;
	padding: 0.75rem 1rem;
	font-size: 1rem;
	color: #d4d4d4;
}
form textarea {
	grid-column-start: 1;
	grid-column-end: 3;
	min-height: 175px;
}
form button[type="submit"] {
	padding: 0.75rem 1rem;
	grid-row-start: 3;
	color: #fff;
	background-color: #de5454;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	width: 75%;
	transition: all .3s;
}@media screen and (max-width: 600px) {
	form button[type="submit"] {
		grid-row-start: 4;
		width: 50%;
	} 
}
form button[type="submit"]:hover {
	background-color: #e86262;
}
#section6 .iconBox {
	display: flex;
}
#section6 .iconBox a {
	width: 15%;
}
#section6 .iconBox a:hover svg {
	color: #fff;
}
#section6 .iconBox svg {
	color: #9b9b9b;
}